body{
    gap: 0;
}
.header{
    background-color: rgb(59, 12, 59);
    color: antiquewhite;
    font-family: "Caveat", serif;
    text-align: center;
    margin-bottom: 0%;
}
.english{
    font-weight: 20px;
    font-size: 30px;
}.headding{
    display: flex;
    align-items: center;
    padding-left: 45%;
    background-color: darkslategrey;
    color: wheat;
    font-family: "Caveat", serif;
    text-align: center;
    margin-bottom: 0%;
}
.items,ul,li{
    height: 10;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    padding-left: 85px;
}
.items{
    background-image: url(../../pics/maya-bazaar[1].jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#brinjal{
    background-image: url(../../pics/brinjal.jpeg);
    background-size: cover;
    padding: 70px;
    margin-right:100px;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 20px;
}    
#ladiesfinger{
    background-image: url(../../pics/bendakay.jpg);
    background-size: cover;
    padding: 70px;
    margin-right:100px;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 20px;
}
#potato{
    background-image: url(../../pics/potato.jpg);
    background-size: cover;
    padding: 70px;
    margin-right:100px;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 20px;
}
#banana{
    background-image: url(../../pics/banana.jpg);
    background-size: cover;
    padding: 70px;
    margin-right:100px;
    margin-bottom: 50px;
    margin-top: 20px;
    border-radius: 20px;
}
#bitter{
    background-image: url(../../pics/kakarkay.jpg);
    background-size: cover;
    padding: 70px;
    margin-right:100px;
    margin-bottom: 50px;
    margin-top: 20px;
    border-radius: 20px;
}
#ivy{
    background-image: url(../../pics/dondakay.jpg);
    background-size: cover;
    padding: 70px;
    margin-right:100px;
    margin-bottom: 50px;
    margin-top: 20px;
    border-radius: 20px;
}
a{
    text-decoration: none;
    color: black;
    font-family: "Caveat", serif;
    background: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
}
a:hover{
    background-color: rgb(190, 186, 186);
}
span{
    font-size: 26px;
}
.btn{
    margin-left: 50%;
}
button{
    border: none;
    outline: none;
    border-radius: 20px;
    background: none;
}